# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# production
build/

# env
.env
.env*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/
